body {
  color: #666666;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.custom-navbar {
  color: #5ce5b4;
  font-weight: 500;
  padding-bottom: 5px !important;
}

.navbar-brand {
  color: #5ce5b4 !important;
  margin-left: 15px;
  font-weight: 600;
  font-size: x-large !important;
}

.navbar-nav .nav-link {
  color: #5ce5b4 !important;
}

.nav-item {
  padding-left: 5px;
  padding-right: 5px;
}

.log-in {
  margin-left: 15px;
}

.sign-up {
  margin-right: 5px;
}

.round-button {
  background-color: #5ce5b4;
  color: #ffffff;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  padding: 8px 25px;
  font-weight: 700;
}

hr {
  margin: 0 !important;
  border: 1px solid #666666 !important;
}

#sign-up-free {
  text-decoration: none;
}

.content {
  color: #666666;
}

.ambient-sounds,
.work,
.home,
.study,
.travel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#description-text-amb a,
#description-text-home a,
#description-text-travel a,
#description-text-apps a,
#description-text-study a {
  color: #666666;
}

#description-text-amb,
#description-text-home,
#description-text-travel {
  flex: 1;
  margin-left: 250px;
  text-align: left;
}

#headphones,
#cactus,
#travel {
  flex: 1;
  margin-right: 200px;
  margin-bottom: 200px;
}

#description-text-apps,
#description-text-study {
  flex: 1;
  margin-right: 100px;
}

#computer,
#notebook {
  flex: 1;
  margin-left: 200px;
}

.love {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;
}

.love p {
  font-size: large;
  font-weight: 600;
}

.bottom-text {
  margin-top: 30px;
  font-size: 14px !important;
  font-weight: normal !important;
}

.bottom-text a {
  color: #5ce5b4;
}

.bottom-text a:hover {
  color: #5ce5b4;
}

.footer {
  margin-top: 50px;
  padding: 0;
  text-align: left;
  list-style-type: none;
  font-size: 14px;
}

.footer h5 {
  font-size: 14px;
  font-weight: 700;
}

.footer-link {
  text-decoration: none;
  color: #666666;
}

.footer-link:hover {
  text-decoration: underline;
  color: #666666;
}

#top-img {
  margin-top: 10px;
}

#bottom-line {
  margin-top: 50px;
  margin-left: 50px;
}

.row {
  border: 0;
}

#social-icons {
  width: 25px;
  height: auto;
}

.list-group-item,
.list-group-item a {
  color: #666666;
  text-decoration: none;
  border: none !important;
}

.list-group-item a:hover {
  color: #666666 !important;
  text-decoration: underline;
}
